#note-panel {
    z-index: 2;
    visibility: hidden;
    font-size: 0.9em;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    position:absolute;
    top: 0;
    left: 0;
}
